COMPOSE_PROFILES=postgres
REFORGE_DB_DRIVER=postgres
REFORGE_DB_DSN=host=postgres user=reforge password=CHANGE_ME dbname=reforge port=5432 sslmode=disable

POSTGRES_DB=reforge
POSTGRES_USER=reforge
POSTGRES_PASSWORD=CHANGE_ME

MYSQL_DATABASE=reforge
MYSQL_USER=reforge
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME

MSSQL_SA_PASSWORD=CHANGE_ME

MONGO_ROOT_USER=reforge
MONGO_ROOT_PASSWORD=CHANGE_ME
NEO4J_AUTH=neo4j/CHANGE_ME

REFORGE_ADMIN_USER=admin
REFORGE_ADMIN_PASSWORD=CHANGE_ME
REFORGE_WORKER_TOKEN=CHANGE_ME
REFORGE_ALLOWED_ORIGIN=http://localhost:5173
VITE_API_URL=
